<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="KaliTAF" verbose="1" >
    <test name="Regression Suite" >
        <classes>
            <!--Select test classes to run here.-->
            <class name="googlehomepagetests.GoogleHomepageTests"/>
        </classes>
    </test>
</suite>